 @import url('https://fonts.googleapis.com/css?family=Poppins');
  ::-webkit-scrollbar { 
    display: none; 
}
body,html { margin: 0; padding: 0; border: none; }


body:before {
  content:"";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  min-height: 600%;
  min-width: 100%;
  background: linear-gradient(to bottom,#65bed6,#3e97bd, #3e8aad, #195b82,#002236);
  
}

.dark:before {
  content:"";
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:-1; 
  min-height: 600%;
  background:#D8D8D8;
  background: linear-gradient(to bottom, #001440, #00091c ) ;
 
}
.dark .content h2:nth-child(1){
  -webkit-text-stroke: 2px #03a9f4;
}
.dark .content h2:nth-child(2){
  color: #03a9f4;

}
.dark .prod1{
  color: #bee2ed;
}
.dark .prod2{
  color: #bee2ed;
}
.dark .title{
  color: #bee2ed
}
.grad{
    left:0;
  top:0;
  right:0;
  bottom:0;
}

a{
  color: white;
  text-decoration: none;
}


@import url(//fonts.googleapis.com/css?family=Lato:300:400);



.waves {
  transform: rotate(180deg);
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  color: transparent;
}

.switch {
    align-self: flex-end;
    
}
.inner-switch {
  margin: .5rem;
  padding: .2rem;
  z-index: 2;
  position: absolute;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 4rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 0.3125rem;
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
.logo>img{
  width: 20vh; 
  margin-left: 36%; 
  margin-top: 0;
}
/*Shrinking for mobile*/
@media (max-width: 1200px) {
  .waves {
    height:40px;
    min-height:40px;
  }
    .waves1 {
    height:40px;
    min-height:40px;
  }
body:before {min-height: 1100%;}
.dark:before {min-height: 1100%;}

}

.title{
  font-family: 'Poppins', sans-serif;
  margin-left: 37%;
  font-size: 7vh
}
.logo{
  margin-top: 0;
  margin-left: 14%;}

.content
{ padding-top: 6.5%;
  display: flex;
  justify-content: center;
  padding-left: 41%;
  padding-bottom: 0;
  min-height: 150px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0;
}
.content h2
{
  position: absolute;
  color: #fff;
  transform: translate(-50%,-50%);
  font-size: 8em;
  margin-bottom: 0;
}
.content h2:nth-child(1)
{
  color: transparent;
  -webkit-text-stroke: 2px #001440;
}
.content h2:nth-child(2)
{
  color: #001440;
  animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
  0%,100%
  {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 
      0% 100%)
    ;
  }
  50%
  {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 
      0% 100%)
    ;
  }
}

@media (max-width: 1200px) {
  .content{
    font-weight: lighter;
    font-size: 7px;
    padding-left: 350px;
  }
  .title{
    margin-left: 20%;
    font-size: 4vh;
  }
  .logo{
  margin-top: 0;
  margin-left: 0%;}
  }
.bottom-particles {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
}
.bottom-particles .bubble {
  opacity: 0;
  position: absolute;
  bottom: -1rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.bottom-particles .bubble:nth-child(1) {
  left: 25%;
  -webkit-animation: blow 5000ms infinite;
          animation: blow 5000ms infinite;
  -webkit-animation-delay: 7725ms;
          animation-delay: 7725ms;
}
.bottom-particles .bubble:nth-child(2) {
  left: 80%;
  -webkit-animation: blow 8340ms infinite;
          animation: blow 8340ms infinite;
  -webkit-animation-delay: 6427ms;
          animation-delay: 6427ms;
}
.bottom-particles .bubble:nth-child(3) {
  left: 35%;
  -webkit-animation: blow 10329ms infinite;
          animation: blow 10329ms infinite;
  -webkit-animation-delay: 11546ms;
          animation-delay: 11546ms;
}
.bottom-particles .bubble:nth-child(4) {
  left: 51%;
  -webkit-animation: blow 5000ms infinite;
          animation: blow 5000ms infinite;
  -webkit-animation-delay: 7406ms;
          animation-delay: 7406ms;
}
.bottom-particles .bubble:nth-child(5) {
  left: 52%;
  -webkit-animation: blow 5768ms infinite;
          animation: blow 5768ms infinite;
  -webkit-animation-delay: 2327ms;
          animation-delay: 2327ms;
}
.bottom-particles .bubble:nth-child(6) {
  left: 44%;
  -webkit-animation: blow 5000ms infinite;
          animation: blow 5000ms infinite;
  -webkit-animation-delay: 7314ms;
          animation-delay: 7314ms;
}
.bottom-particles .bubble:nth-child(7) {
  left: 27%;
  -webkit-animation: blow 5000ms infinite;
          animation: blow 5000ms infinite;
  -webkit-animation-delay: 2233ms;
          animation-delay: 2233ms;
}
.bottom-particles .bubble:nth-child(8) {
  left: 64%;
  -webkit-animation: blow 7439ms infinite;
          animation: blow 7439ms infinite;
  -webkit-animation-delay: 11711ms;
          animation-delay: 11711ms;
}
.bottom-particles .bubble:nth-child(9) {
  left: 45%;
  -webkit-animation: blow 11892ms infinite;
          animation: blow 11892ms infinite;
  -webkit-animation-delay: 1048ms;
          animation-delay: 1048ms;
}
.bottom-particles .bubble:nth-child(10) {
  left: 30%;
  -webkit-animation: blow 12586ms infinite;
          animation: blow 12586ms infinite;
  -webkit-animation-delay: 1670ms;
          animation-delay: 1670ms;
}
.bottom-particles .bubble:nth-child(11) {
  left: 14%;
  -webkit-animation: blow 5000ms infinite;
          animation: blow 5000ms infinite;
  -webkit-animation-delay: 5967ms;
          animation-delay: 5967ms;
}
.bottom-particles .bubble:nth-child(12) {
  left: 42%;
  -webkit-animation: blow 8187ms infinite;
          animation: blow 8187ms infinite;
  -webkit-animation-delay: 2431ms;
          animation-delay: 2431ms;
}
.bottom-particles .bubble:nth-child(13) {
  left: 52%;
  -webkit-animation: blow 5000ms infinite;
          animation: blow 5000ms infinite;
  -webkit-animation-delay: 3003ms;
          animation-delay: 3003ms;
}
.bottom-particles .bubble:nth-child(14) {
  left: 77%;
  -webkit-animation: blow 14896ms infinite;
          animation: blow 14896ms infinite;
  -webkit-animation-delay: 9631ms;
          animation-delay: 9631ms;
}
.bottom-particles .bubble:nth-child(15) {
  left: 16%;
  -webkit-animation: blow 10882ms infinite;
          animation: blow 10882ms infinite;
  -webkit-animation-delay: 5520ms;
          animation-delay: 5520ms;
}
.bottom-particles .bubble:nth-child(16) {
  left: 100%;
  -webkit-animation: blow 6046ms infinite;
          animation: blow 6046ms infinite;
  -webkit-animation-delay: 11447ms;
          animation-delay: 11447ms;
}
.bottom-particles .bubble:nth-child(17) {
  left: 32%;
  -webkit-animation: blow 13589ms infinite;
          animation: blow 13589ms infinite;
  -webkit-animation-delay: 2692ms;
          animation-delay: 2692ms;
}
.bottom-particles .bubble:nth-child(18) {
  left: 93%;
  -webkit-animation: blow 6953ms infinite;
          animation: blow 6953ms infinite;
  -webkit-animation-delay: 5725ms;
          animation-delay: 5725ms;
}
.bottom-particles .bubble:nth-child(19) {
  left: 6%;
  -webkit-animation: blow 13536ms infinite;
          animation: blow 13536ms infinite;
  -webkit-animation-delay: 4807ms;
          animation-delay: 4807ms;
}
.bottom-particles .bubble:nth-child(20) {
  left: 86%;
  -webkit-animation: blow 9224ms infinite;
          animation: blow 9224ms infinite;
  -webkit-animation-delay: 11620ms;
          animation-delay: 11620ms;
}
.bottom-particles .bubble:nth-child(21) {
  left: 16%;
  -webkit-animation: blow 8224ms infinite;
          animation: blow 8224ms infinite;
  -webkit-animation-delay: 10620ms;
          animation-delay: 10620ms;
}
.bottom-particles .bubble:nth-child(22) {
  left: 56%;
  -webkit-animation: blow 7124ms infinite;
          animation: blow 7124ms infinite;
  -webkit-animation-delay: 6620ms;
          animation-delay: 6620ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 86%;
  -webkit-animation: blow 8224ms infinite;
          animation: blow 8224ms infinite;
  -webkit-animation-delay: 10620ms;
          animation-delay: 10620ms;
}
.bottom-particles .bubble:nth-child(23) {
  left: 96%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 6925ms;
          animation-delay: 6925ms;
}
.bottom-particles .bubble:nth-child(24) {
  left: 60%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 3680ms;
          animation-delay: 3680ms;
}
.bottom-particles .bubble:nth-child(25) {
  left: 92%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 666ms;
          animation-delay: 666ms;
}
.bottom-particles .bubble:nth-child(26) {
  left: 92%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 5791ms;
          animation-delay: 5791ms;
}
.bottom-particles .bubble:nth-child(27) {
  left: 62%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 5195ms;
          animation-delay: 5195ms;
}
.bottom-particles .bubble:nth-child(28) {
  left: 98%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 10328ms;
          animation-delay: 10328ms;
}
.bottom-particles .bubble:nth-child(29) {
  left: 67%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 3222ms;
          animation-delay: 3222ms;
}
.bottom-particles .bubble:nth-child(30) {
  left: 61%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 445ms;
          animation-delay: 445ms;
}
.bottom-particles .bubble:nth-child(31) {
  left: 61%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 7838ms;
          animation-delay: 7838ms;
}
.bottom-particles .bubble:nth-child(32) {
  left: 45%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 6058ms;
          animation-delay: 6058ms;
}
.bottom-particles .bubble:nth-child(33) {
  left: 66%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 4618ms;
          animation-delay: 4618ms;
}
.bottom-particles .bubble:nth-child(34) {
  left: 10%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 168ms;
          animation-delay: 168ms;
}
.bottom-particles .bubble:nth-child(35) {
  left: 73%;
  -webkit-animation: blow 10000ms infinite;
          animation: blow 10000ms infinite;
  -webkit-animation-delay: 3344ms;
          animation-delay: 3344ms;
}
@-webkit-keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -100vh) scale(0.2);
            transform: translate(0, -100vh) scale(0.2);
  }
}

@keyframes blow {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, -100vh) scale(0.2);
            transform: translate(0, -100vh) scale(0.2);
  }
}

.prod1{
  padding-top: 10vh;
  justify-content: center;
  margin-left: 5%;
  margin-right: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5vh;
  overflow: auto;
}

h1{
  font-size: 3vh;

}
.prod1>p{
  width: 60%;
  text-align: left;
 
}

.right{
  padding-bottom: 5vh;
  padding-left: 35vh;
  height: 55vh;
  border-radius: 500px;
  float:right;
  
}

.btn {
  font-family: 'Poppins', sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 2vh;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}


.prod2{
  padding-top: 10vh;
  justify-content: center;
  margin-right: 5%;
  margin-left: 2%;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  overflow: auto;
}
.left{
  padding-bottom: 5vh;
  padding-right: 30vh;
  height: 55vh;
  float:left;
  border-radius: 500px 500px 500px 500px / 500px 500px 500px 500px;

}
.prod2>p{
  
  font-size: 2.5vh;
  width:-90%;
}
input{
 
}
.search{
  max-width: 100%;
}
#myInput {
  margin-left: 70%;
  margin-right: 10%;
  background-color: rgb(0,0,0,0.2);
  color: #fff;
  background-image: url('searchicon.png');
  background-size: 3vh;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 300px;
  position: relative;
}

@media (max-width: 1200px) {
 #myInput {
margin-left: 50%;
 max-width: 123px;
 margin-right: 0;

 }
 .prod1>p{
  width: 90%;
  text-align: left;
 
}

}

::placeholder {
  color: #bee2ed;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

#myUL li a {
  margin-left: 70%;
  margin-right: 10%;
  background-color: rgb(0,0,0,0.2);
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  padding: 12px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}


#arrow img{
  transform: rotate(180deg);
 width: 75px;
  position:fixed;
  bottom:4%;
  right:4%;
  cursor:pointer;
  display:none;
}
@media (max-width: 1200px) {
#arrow img{
  width: 50px;
  position:fixed;
  bottom:0%;
  left:45%;
  
}
}

