
@import url('https://fonts.googleapis.com/css?family=Poppins');
::-webkit-scrollbar {
  display: none;
}

body,html { font-family:'Poppins', sans-serif;margin: 0; padding: 0; border: none; }


body:before {
  content:"";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  min-height: 110%;
  
  background: linear-gradient(-45deg, #93e4ed, #41a8c4, #72dbc8, #2e88d1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.dark:before {
  content:"";
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:-1; 
  background:#D8D8D8;
  background: linear-gradient(-45deg,  #000000,#093240,#00151a, #002e3b);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
 
}
.grad{
    left:0;
  top:0;
  right:0;
  bottom:0;
}



.switch {
    align-self: flex-end;
    
}
.inner-switch {
  margin: .5rem;
  padding: .2rem;
  z-index: 2;
  position: absolute;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 4rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 0.3125rem;
}


.prod2{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  padding-top: 8vh;
  padding-bottom:3.4vh;
  justify-content: center;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 4%;
  font-family: 'Poppins', sans-serif;
  font-size: 3vh;
  overflow: auto;
}
.left{
  padding-bottom: 5vh;
  padding-right: 25vh;
  padding-left: 5vh;
  height: 45vh;
  float:left;

}
.prod2>p{
  font-weight: lighter;
  font-size: 2.5vh;
  width:-90%;
}
a{
  color: white;
  text-decoration: none;
}
input[type=checkbox] {
    transform: scale(1.5);
}


.dark .prod2{
  color: #bee2ed;
}

.btn {
  font-family: 'Poppins', sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 2vh;
  background-color: #222;
  padding: 17px 60px;
  margin-left: 53.5%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

h1{
  font-size: 3vh;


}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
   z-index: 5;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
 
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
.overlay1 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
   z-index: 5;
}
.overlay1:target {
  visibility: visible;
  opacity: 1;
}

.popup1 {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
 
}

.popup1 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close:hover {
  color: #06D85F;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
  .popup1{
    width: 70%;
  }

}

.home {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 150px;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  margin: 10px;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}
.button:after {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  content: '';
  width: 0;
  left: 50%;
  bottom: 0;
  height: 3px;
  background: #bee2ed;
}
.button:nth-of-type(1):after {
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  z-index: -1;
}
.button:hover {
  cursor: pointer;
}
.button:hover:after {
  width: 100%;
  left: 0;
}
.button:hover:nth-of-type(1) {
  color: #093240;
}
.button:hover:nth-of-type(1):after {
  left: -10%;
  width: 120%;
}
@media (max-width: 1200px) {

  body:before {
  min-height: 130%;
  }
  .dark:before {
    min-height: 130%;
  }
  .left{
    height:32vh;
    padding-left: 1vh;
  padding-right: 1vh;
}
  .btn{margin-left: 24%;}
}